
body {
    margin:0;
    padding:0;
    color: #000;
   /* background: #908080; */
    background: #e0f0ff;
  }
  #header h1{
    text-align: center;
    /* font-family: 'Josefin Sans', sans-serif; */
  }
  
  #description {
    /* font-family: 'Indie Flower', cursive; */
  }
  
  #wrapper {
    /* width: 1000px; calculated in main.js*/

    margin: 0 auto;
  }
  
  #simulation {
   /* margin: 0 auto; */
    background-color: white;
    border: 2px solid black;
  }
    
  #footer {
    clear: both;
    text-align: center;
    font-size: 12px;
  }
  
 